* {
    box-sizing: border-box;
}

body {
    background-color: #dcdcdc;
    margin: 0;
    font-family: sans-serif;
}

img {
    width: 6em;
    height: 9em;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

[type=radio]:checked+img {
    outline: 2px solid #f00;
}

.contenedor-plantillas {
    display: flex;
    padding: 1%;
}

.plantilla {
    margin: 1%;
    flex: 1;
    position: relative;
}

.contenedor-form {
    background-color: #ececec;
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
}

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
}

.formulario__input,
.formulario__label,
.formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}

.formulario__input {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.formulario__input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

.formulario__input:focus+.formulario__label {
    margin-top: -135px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.formulario__submit {
    color: black;
    width: 25%;
    cursor: pointer;
    position: relative;
    left: 35%;
}

.fijar {
    margin-top: -135px;
}

.foto {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    width: 25%;
    position: relative;
    text-align: center;
}