
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        html {
            height: 100%
        }

        body {
            width: 21cm;
            height: 100%;
            min-height: 29.7cm;
            position: relative;
            margin: 0;
            padding: 0 0;
            color: #333;
            line-height: 22px;
         font: 13px "Source Sans Pro", Arial;
             font-style: normal
        }

        h1 {
         font: 30px "Source Sans Pro", Arial;            margin: 0;
            padding: 25px 0 5px 0;
            font-weight: 600
        }

        h1 span {
            position: relative;
            font-style: normal;
            display: inline;
            margin-right: 1px;
            padding: 0
        }

        h2 {
         font: 17px "Source Sans Pro", Arial;            font-weight: 600;
            margin: 0;
            padding: 0 0 15px 0;
            border-bottom: 2px solid #d2d2d2
        }

        h3 {
            font-size: 13px;
            font-weight: 600;
            margin: 0;
            padding: 0
        }

        p {
            color: #4c4c4c;
            line-height: 18px;
            font-weight: 400;
            margin: 0;
            padding: 0
        }

        hr {
            border: none;
            height: 1px;
            width: 100%;
            padding: 0;
            margin: 0;
            background: #d2d2d2
        }

        .sidebar--bg {
            position: fixed;
            left: 0;
            width: 25px;
            height: 18000px;
            background: #333
        }

        .sections {
            left: 40px;
            position: relative;
            width: 715px
        }

        .section {
            position: relative;
            width: 100%;
            padding: 0
        }

        .section p {
            display: block;
            font-style: normal
        }

        .section.personal .section--item:first-child .section--heading-group {
            padding-top: 4px
        }

        .section.personal .section--item:first-child .section--date {
            top: 4px
        }

        .section:last-child {
            border: none
        }

        .section.section--summary {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 2px solid #d2d2d2
        }

        .section.section--summary .section--content {
            padding-top: 0;
            padding-left: 0
        }

        .section--name {
            position: relative
        }

        .section--name.has--avatar h1 {
            padding-left: 70px
        }

        .section--avatar {
            display: inline-block;
            position: absolute;
            top: 15px;
            padding: 0;
            margin: 0;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            -webkit-background-size: cover !important;
            background-size: cover !important
        }

        .section--title {
            display: block;
            position: relative;
            z-index: 99;
            margin: 0;
            padding: 15px 0 10px 0;
            page-break-inside: avoid;
            background: #fff;
            border-bottom: 2px solid #fff
        }

        .section--title span {
            display: inline-block;
            margin-right: 0
        }

        .section--time-line-overlay {
            position: absolute;
            top: 0;
            left: 135px;
            height: 100%;
            width: 1px;
            background: #2b2b38
        }

        .section--time-line {
            position: absolute;
            top: 0;
            left: 135px;
            height: 100%;
            width: 1px;
            background: #2b2b38
        }

        .section--time-line-hide-overlay {
            display: none;
            position: absolute;
            left: 131px;
            top: 24px;
            width: 10px;
            height: 100%;
            background: #fff;
            z-index: 9
        }

        .section--item:last-child {
            background: #fff
        }

        .section--item:last-child .section--time-line {
            height: 30px
        }

        .section--item:last-child .section--time-line-hide-overlay {
            display: inline
        }

        .section--time-line-dot {
            position: absolute;
            left: -3px;
            top: 18px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: #2b2b38
        }

        .section--heading-group {
            display: block;
            padding: 12px 0 0 150px;
            margin: 0;
            page-break-inside: avoid
        }

        .section.personal {
            margin-bottom: 5px
        }

        .section.personal .section--item {
            background: 0 0
        }

        .section.personal .section--heading-group {
            padding-top: 10px
        }

        .no-indent .section--item .section--heading-group {
            padding-left: 20px
        }

        .no-indent .section--item .section--content {
            padding-left: 20px
        }

        .no-indent .section--item .section--time-line {
            left: 5px
        }

        .no-indent .section--item .section--time-line-hide-overlay {
            left: 5px
        }

        .no-indent .section--time-line-overlay {
            left: 5px
        }

        .section--list {
            display: block;
            list-style: none;
            padding: 0;
            margin: 0
        }

        .section--item {
            display: block;
            position: relative;
            list-style: none;
            padding: 0;
            margin: 0
        }

        .section--item.skills {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 5px;
            width: 100%;
            margin: 0;
            padding-left: 0;
            border: none
        }

        .section--item.skills h3 {
            font-size: 13px
        }

        .section--item.skills:last-child {
            padding-bottom: 0
        }

        .skills--label {
            display: inline-block;
            width: 175px;
            margin: 0
        }

        .skills--stars {
            display: inline-block;
            position: relative;
            top: 0
        }

        .skills--stars svg {
            fill: #b1b1b1
        }

        .skills--stars svg.active {
            fill: #2b2b38
        }

        .skills--level {
            position: relative;
            display: inline-block;
            top: 0;
            margin: 0 0 0 5px;
            height: 9px;
            width: 9px;
            border-radius: 100%;
            opacity: .4
        }

        .skills--level.active {
            opacity: 1
        }

        .section--date {
            position: absolute;
            left: 0;
            text-align: left;
            top: 15px;
            width: 120px;
            font-size: 13px;
            padding: 0;
            margin: 0
        }

        .section.personal .section--date {
            top: 9px
        }

        .section--heading {
            display: block;
            padding: 0;
            margin: 0
        }

        .section--sub-heading {
            display: block;
            padding: 3px 0 0 0;
            margin: 0;
            font-style: italic;
            font-size: 13px
        }

        .section--content {
            display: block;
            padding: 5px 0 0 150px;
            margin: 0
        }

        .section--content p {
            display: block
        }

        .section--content ol, .section--content ul {
            white-space: normal;
            font-weight: 400;
            list-style-position: outside;
            color: #4c4c4c;
            margin: 0;
            padding: 0 0 0 16px
        }

        .section--content ol li, .section--content ul li {
            line-height: 18px
        }

        .section--content ul li {
            list-style-type: disc
        }

        .section--content ol {
            padding-left: 14px
        }

        .section--content-single-textarea {
            padding-left: 0
        }

        .c--434a54 .sidebar--bg, .c--434a54 .skills--level {
            background: #434a54 !important
        }

        .c--732937 .sidebar--bg, .c--732937 .skills--level {
            background: #732937 !important
        }

        .c--11345c .sidebar--bg, .c--11345c .skills--level {
            background: #11345c !important
        }

        .c--1a4a22 .sidebar--bg, .c--1a4a22 .skills--level {
            background: #1a4a22 !important
        }

        .c--02636f .sidebar--bg, .c--02636f .skills--level {
            background: #02636f !important
        }


/* *****************************************
 * FONTS
 * *****************************************
 */
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v6/mFT0WbgBwKPR_Z4hGN2qgxED1XJ7.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v6/mFT0WbgBwKPR_Z4hGN2qgx8D1Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
