
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        html {
            height: 100%
        }

        body {
            width: 21cm;
            height: 100%;
            min-height: 29.7cm;
            position: relative;
            margin: 0;
            padding: 0 0;
            color: #333;
            line-height: 22px;
         font: 13px "Source Sans Pro", Arial;
        ;
            font-style: normal
        }

        h1 {
            font-style: normal;
            font-size: 30px;
            margin: 0;
            padding: 12px 0 22px 0;
            font-weight: 600;
            color: #fff;
            letter-spacing: .04em
        }

        h1 span {
            position: relative;
            font-style: normal;
            display: inline;
            margin-right: 3px;
            padding: 0
        }

        .avatar--no h1 {
            margin-left: -235px
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: .08em;
            font-size: 15px;
            font-weight: 600;
            margin: 0;
            padding: 0
        }

        h3 {
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            padding: 0
        }

        p {
            color: #4c4c4c;
            line-height: 18px;
            font-weight: 400;
            margin: 0;
            padding: 0;
            text-align: justify
        }

        hr {
            border: none;
            height: 1px;
            width: 100%;
            padding: 0;
            margin: 0;
            background: #d2d2d2
        }

        svg {
            fill: #333
        }

        .hero--bg {
            position: fixed;
            top: -50px;
            left: -20px;
            height: 122px;
            width: 120%;
            background: #476377
        }

        .avatar--no .hero--bg {
            top: -55px
        }

        .section--first-name {
            display: inline-block
        }

        .section--last-name {
            display: inline-block;
            position: relative;
            left: 5px
        }

        .sections {
            left: 255px;
            position: relative;
            width: 520px
        }

        .section {
            position: relative;
            width: 100%;
            padding: 0
        }

        .section p {
            display: block;
            font-style: normal
        }

        .section:last-child {
            border: none
        }

        .section.section--summary {
            margin-top: 15px
        }

        .section--title {
            display: inline-block;
            width: 100%;
            position: relative;
            z-index: 99;
            margin: 0;
            background: #fff;
            padding: 15px 0 10px 3px;
            page-break-inside: avoid
        }

        .section--title hr {
            position: absolute;
            width: 95%;
            top: 25px;
            left: 5%;
            heigth: 2px;
            z-index: 0;
            border: none;
            background: #d2d2d2
        }

        .section--title span {
            position: relative;
            z-index: 9;
            width: auto;
            padding-right: 2px;
            background: #fff
        }

        .section--title span:last-child {
            padding-right: 10px;
            background: #fff
        }

        .section--title-icon {
            position: relative;
            top: 2px;
            display: none;
            height: 32px;
            width: 32px;
            margin-left: -15px;
            margin-right: 10px;
            border-radius: 50%;
            border: 1px solid #2b2b38;
            background: #fff
        }

        .section--title-icon svg {
            position: relative;
            top: 3px;
            height: 22px;
            fill: #2b2b38
        }

        .section--title-icon.education svg {
            left: 2px
        }

        .section--title-icon.course svg {
            top: 4px;
            left: 3px
        }

        .section--title-icon.work svg {
            left: 3px
        }

        .section--title-icon.certificate svg {
            top: 4px;
            left: 3px
        }

        .section--title-icon.single-textarea svg {
            top: 4px;
            left: 3px
        }

        .section--title-icon.extra-curricular svg {
            top: 3px;
            left: 3px
        }

        .section--title-icon.internships svg {
            left: 3px
        }

        .section--title-icon.skill svg {
            top: 4px;
            left: 3px
        }

        .section--title-icon.reference svg {
            top: 4px;
            left: 6px
        }

        .section--time-line-overlay {
            position: absolute;
            top: 0;
            left: 5px;
            height: 100%;
            width: 1px;
            background: #2b2b38
        }

        .section--time-line {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 1px;
            background: #607d8b
        }

        .section--time-line-hide-overlay {
            display: none;
            position: absolute;
            left: -9px;
            top: 26px;
            width: 10px;
            height: 100%;
            background: #fff;
            z-index: 9
        }

        .section--item:last-child {
            background: #fff;
            padding-bottom: 0
        }

        .section--item:last-child .section--time-line {
            height: 28px
        }

        .section--item:last-child .section--time-line-hide-overlay {
            display: inline
        }

        .section--time-line-dot {
            position: absolute;
            left: 0;
            top: 25px;
            height: 1px;
            width: 9px;
            border-radius: 0;
            background: #607d8b
        }

        .section--heading-group {
            display: block;
            margin: 0;
            padding: 0 0 6px 0;
            page-break-inside: avoid
        }

        .section--list {
            display: block;
            list-style: none;
            padding: 0 0 0 5px;
            margin: 0
        }

        .section--list.skills {
            margin-bottom: 23px
        }

        .section--list.no-indent .section--item {
            padding-left: 20px
        }

        .section--item {
            display: block;
            position: relative;
            list-style: none;
            padding: 0 0 0 140px;
            padding: 0 0 0 140px;            margin: 0
        }

        .section--item.skills {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 5px;
            width: 100%;
            margin: 0;
            padding-left: 0;
            border: none
        }

        .section--item.skills h3 {
            font-size: 13px
        }

        .section--item.skills:last-child {
            padding-bottom: 0
        }

        .skills--label {
            display: inline-block;
            width: 175px;
            margin: 0 0 0 -5px
        }

        .skills--stars {
            display: inline-block;
            position: relative;
            top: 0
        }

        .skills--stars svg {
            fill: #b1b1b1
        }

        .skills--stars svg.active {
            fill: #2b2b38
        }

        .skills--level {
            position: relative;
            display: inline-block;
            top: 0;
            margin: 0 0 0 5px;
            height: 9px;
            width: 9px;
            border-radius: 100%;
            opacity: .4
        }

        .skills--level.active {
            opacity: 1
        }

        .section--date {
            position: absolute;
            left: 15px;
            top: 16px;
            width: 120px;
            width: 120px;            font-size: 13px;
            padding: 0;
            margin: 0
        }

        .section--heading {
            display: block;
            padding: 15px 0 0 0;
            margin: 0
        }

        .section--sub-heading {
            display: block;
            padding: 0;
            margin: 0;
            font-style: italic;
            font-size: 13px
        }

        .section--content {
            display: inline-block;
            width: 100%;
            padding: 0;
            margin: 0
        }

        .section--content p {
            display: block
        }

        .section--content ol, .section--content ul {
            page-break-inside: auto;
            white-space: normal;
            font-weight: 400;
            list-style-position: outside;
            color: #4c4c4c;
            margin: 0;
            padding: 0 0 0 16px
        }

        .section--content ol li, .section--content ul li {
            line-height: 18px
        }

        .section--content ul li {
            list-style-type: disc
        }

        .section--content ol {
            padding-left: 14px
        }

        .section--content-single-textarea {
            padding-bottom: 10px
        }

        .sidebar--bg {
            position: fixed;
            top: 0;
            left: 0;
            width: 240px;
            height: 18000px;
            overflow-x: hidden;
            overflow-y: hidden
        }

        .avatar--no .sidebar {
            margin-top: 48px
        }

        .sidebar {
            left: 0;
            position: fixed;
            padding: 18px 0 0 20px;
            width: 240px;
            height: auto
        }

        .avatar {
            display: inline-block;
            padding: 0;
            margin: 20px 0 0 -5px;
            height: 125px;
            width: 125px;
            border-radius: 50%;
            background-size: cover !important;
            border: 4px solid #fff
        }

        .sidebar--data {
            display: block
        }

        .sidebar--title {
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            padding: 20px 0 5px 0;
            margin: 0;
            page-break-inside: avoid;
            border-bottom: 1px solid #fff
        }

        .sidebar--title span {
            font-weight: 400;
            font-style: normal;
            margin-right: 1px
        }

        .sidebar--title .language svg {
            height: 18px;
            width: 18px
        }

        .sidebar--title svg {
            display: none;
            position: relative;
            top: 4px;
            height: 19px;
            width: 19px;
            margin-right: 4px
        }

        .sidebar--label {
            font-weight: 600
        }

        .sidebar--list {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0
        }

        .sidebar--item {
            display: block;
            list-style: none;
            font-size: 13px;
            margin: 0;
            padding: 0 5px 8px 0
        }

        .sidebar--item:last-child {
            padding-bottom: 0
        }

        .sidebar--item-text {
            line-height: 21px
        }

        .sidebar--item-align-right {
            float: right;
            position: relative;
            margin-right: 20px
        }

        .sidebar--item-level {
            position: relative;
            display: inline-block;
            top: 1px;
            margin-left: 3px;
            height: 8px;
            width: 8px;
            border-radius: 100%;
            opacity: .4
        }

        .sidebar--item-level.active {
            opacity: 1
        }

        .c--ebebeb .hero--bg {
            background: #fff !important
        }

        .c--ebebeb h1 {
            color: #333
        }

        .c--476477 .hero--bg, .c--476477 .sidebar--item-level, .c--476477 .skills--level {
            background: #476477 !important
        }

        .c--476477 .section--item.skills, .c--476477 .sidebar--bg {
            border-color: #476477 !important
        }

        .c--af2942 .hero--bg, .c--af2942 .sidebar--item-level, .c--af2942 .skills--level {
            background: #af2942 !important
        }

        .c--af2942 .section--item.skills, .c--af2942 .sidebar--bg {
            border-color: #af2942 !important
        }

        .c--3f6592 .hero--bg, .c--3f6592 .sidebar--item-level, .c--3f6592 .skills--level {
            background: #3f6592 !important
        }

        .c--3f6592 .section--item.skills, .c--3f6592 .sidebar--bg {
            border-color: #3f6592 !important
        }

        .c--379047 .hero--bg, .c--379047 .sidebar--item-level, .c--379047 .skills--level {
            background: #379047 !important
        }

        .c--379047 .section--item.skills, .c--379047 .sidebar--bg {
            border-color: #379047 !important
        }

        .c--82652b .hero--bg, .c--82652b .sidebar--item-level, .c--82652b .skills--level {
            background: #82652b !important
        }

        .c--82652b .section--item.skills, .c--82652b .sidebar--bg {
            border-color: #82652b !important
        }



/* ******************************************
 * FONTS
 * ******************************************
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRduz8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
