
        * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        html {
            height: 100%
        }

        body {
            width: 21cm;
            height: 100%;
            min-height: 29.7cm;
            position: relative;
            margin: 0;
            padding: 0 0;
            color: #333;
            line-height: 22px;
         font: 13px "Source Sans Pro", Arial;
             font-style: normal
        }

        h1 {
         font: 30px "Slabo 27px", Arial;            margin: 0;
            padding: 25px 0 5px 0;
            font-weight: 600
        }

        h1 span {
            position: relative;
            font-style: normal;
            display: inline;
            margin-right: 1px;
            padding: 0
        }

        h2 {
         font: 16px "Slabo 27px", Arial;            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0
        }

        h3 {
            font-size: 13px;
            font-weight: 600;
            margin: 0;
            padding: 0
        }

        p {
            color: #4c4c4c;
            line-height: 18px;
            font-weight: 400;
            margin: 0;
            padding: 0
        }

        hr {
            border: none;
            height: 1px;
            width: 100%;
            padding: 0;
            margin: 0;
            background: #d2d2d2
        }

        .sections {
            left: 40px;
            position: relative;
            width: 715px
        }

        .section {
            position: relative;
            width: 100%;
            padding: 0
        }

        .section p {
            display: block;
            font-style: normal
        }

        .section:last-child {
            border: none
        }

        .section.section--summary {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 2px solid #d2d2d2
        }

        .section.section--summary .section--content {
            padding-top: 0;
            padding-left: 0
        }

        .section--name {
            position: relative
        }

        .section--name.has--avatar h1 {
            padding-left: 70px
        }

        .section--avatar {
            display: inline-block;
            position: absolute;
            top: 15px;
            padding: 0;
            margin: 0;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            -webkit-background-size: cover !important;
            background-size: cover !important
        }

        .section--title {
            display: block;
            position: relative;
            z-index: 99;
            margin: 20px 0 0 0;
            background: #fff;
            padding: 15px 0 15px 0;
            page-break-inside: avoid;
            border-top: 2px solid #d2d2d2
        }

        .section--title span {
            display: inline-block;
            margin-right: 0
        }

        .section--heading-group {
            display: block;
            padding: 15px 0 0 150px;
            margin: 0;
            page-break-inside: avoid
        }

        .section--list {
            display: block;
            list-style: none;
            padding: 0;
            margin: 0
        }

        .section--list.no-indent .section--item .section--heading-group {
            padding-left: 0
        }

        .section--list.no-indent .section--item .section--content {
            padding-left: 0
        }

        .section--list.section--list-skills .section--sub-heading {
            padding-top: 0;
            max-width: 120px;
            text-align: right;
            font-style: normal
        }

        .section--list.section--list-skills .section--heading-group {
            padding-left: 0
        }

        .section--list.section--list-skills .section--date {
            left: 150px;
            text-align: left;
            font-weight: 700
        }

        .section--item {
            display: block;
            position: relative;
            list-style: none;
            padding: 0;
            margin: 0
        }

        .section--item:first-child .section--heading-group {
            padding-top: 0
        }

        .section--item:first-child .section--heading-group .section--date {
            top: 0
        }

        .skills--label {
            display: inline-block;
            width: 175px;
            margin: 5px 0 0 -5px
        }

        .skills--level {
            display: inline-block;
            position: relative;
            top: 0;
            height: 7px;
            width: 150px;
            padding: 0;
            margin: 0;
            background: #eaeaea;
            border-radius: 6px
        }

        .skills--level-filler {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #b1b1b1;
            border-radius: 6px
        }

        .skills--stars {
            display: inline-block;
            position: relative;
            top: 4px
        }

        .skills--stars svg {
            fill: #b1b1b1
        }

        .skills--stars svg.active {
            fill: #2b2b38
        }

        .section--date {
            position: absolute;
            left: 0;
            text-align: right;
            top: 15px;
            width: 120px;
            font-size: 13px;
            padding: 0;
            margin: 0
        }

        .section--heading {
            display: block;
            padding: 0;
            margin: 0
        }

        .section--sub-heading {
            display: block;
            padding: 3px 0 0 0;
            margin: 0;
            font-style: italic;
            font-size: 13px
        }

        .section--content {
            display: block;
            padding: 5px 0 0 150px;
            margin: 0
        }

        .section--content p {
            display: block
        }

        .section--content ol, .section--content ul {
            white-space: normal;
            font-weight: 400;
            list-style-position: outside;
            color: #4c4c4c;
            margin: 0;
            padding: 0 0 0 16px
        }

        .section--content ol li, .section--content ul li {
            line-height: 18px
        }

        .section--content ul li {
            list-style-type: disc
        }

        .section--content ol {
            padding-left: 14px
        }

        .section--content-single-textarea {
            padding-left: 0
        }

        .c--333333 h1, .c--333333 h2 {
            color: #333 !important
        }

        .c--da4453 h1, .c--da4453 h2 {
            color: #da4453 !important
        }

        .c--3f6592 h1, .c--3f6592 h2 {
            color: #3f6592 !important
        }

        .c--82652b h1, .c--82652b h2 {
            color: #82652b !important
        }

        .c--37bc9b h1, .c--37bc9b h2 {
            color: #37bc9b !important
        }


/* ***************************************************
 * FONTS
 * ***************************************************
 */
/* latin-ext */
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v6/mFT0WbgBwKPR_Z4hGN2qgxED1XJ7.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v6/mFT0WbgBwKPR_Z4hGN2qgx8D1Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
